<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Biometrics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14AD1A481E729CB9007E3A75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14AD1A611E729CBA007E3A75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14AD1A6C1E729CBA007E3A75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
